# API Configuration
API_BASE_URL=http://localhost:5000/api

# Socket.IO Configuration
SOCKET_URL=http://localhost:5000

# API Keys (Add your keys here)
NEWS_API_KEY=75705b8a2a7a403ca553e2885a29638f
FOOTBALL_API_KEY=0331700a39932ec89dc7ac831f7a6952
CRICKET_API_KEY=27b48bcc-d8cd-405c-a0af-df533800f83a
BASKETBALL_API_KEY=to-be-determined

